[submodule "img/logos"]
	path = img/logos
	url = git://github.com/shgysk8zer0/logos.git
[submodule "img/adwaita-icons"]
	path = img/adwaita-icons
	url = git://github.com/shgysk8zer0/adwaita-icons.git
